

.app__info-images {

    display: flex;
    justify-content:center;
    align-items: center;

    img, svg {
        width: 30px;
        height: 30px;
        margin: 1rem;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #bdbdbd;
        color: #000;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #bdbdbd transparent transparent transparent;
          }
      }

      &:hover .tooltiptext {
        visibility: visible;
      }
      
  }
  
  
  
  
  
